<div class="container" >

<h1>My Info</h1> 

<div ng-if="!myinfoCtrl.info.updated">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>



<div id="info" ng-if="myinfoCtrl.info.updated">
  Firstname : {{ myinfoCtrl.info.firstname }} <br>
  Lastname. :{{ myinfoCtrl.info.lastname }} <br>
  Email : {{ myinfoCtrl.info.email }} <br>
  Phone : {{ myinfoCtrl.info.phone }} <br>
  <!-- {{ myinfoCtrl.info.favdish }} <br> -->
  <!-- {{ myinfoCtrl.info.dish }} <br> -->
  <!-- {{ myinfoCtrl }} -->
  <h2>Favourite Dish</h2>
    <div>
      <menu-item menu-item=myinfoCtrl.info.dish></menu-item>
    </div>
</div>


</div>
