<div class="container" ng-controller="SignupController as sign">

<fieldset>
  <legend>Sign Up for the newsletter</legend>
  <form name='signupForm' novalidate>
    <input type="text" name="firstname" placeholder="First Name"
          ng-model="sign.firstname"
          required
          >
          <!-- {{ sign.firstname }} -->
          <span
            ng-if="signupForm.firstname.$error.required && signupForm.firstname.$touched">
            Firstname required
          </span>
    <br>

    <input type="text" name="lastname" placeholder="Last Name"
          ng-model="sign.lastname"
          required
          >
          <!-- {{ sign.lastname }} -->
          <span
            ng-if="signupForm.lastname.$error.required && signupForm.lastname.$touched">
            Lastname required
          </span>
    <br>

    <input type="email" name="email" placeholder="Email handle@domain"
      ng-model="sign.email"
      required>
      <span ng-if="signupForm.email.$invalid && signupForm.email.$touched">
        Must be a valid email address: handle@domain format
      </span>
      <br>

    <input type="text" name="phone" placeholder="Phone ###-###-####"
      ng-model="sign.phone"
      required
      pattern="(\d{3})-(\d{3})-(\d{4})">
      <span ng-if="signupForm.phone.$invalid && signupForm.phone.$touched">
        Phone must be in the format ###-###-####.
      </span>
      <br>

    <input type="text" name="favdish" placeholder="Favourite Dish"
          ng-model="sign.favdish"
          required
          minlength="2"
          ng-maxlength="4">
          {{ sign.favdish }}
          <span
            ng-if="(signupForm.favdish.$error.minlength || signupForm.favdish.$error.required) && signupForm.favdish.$touched">
            Favdish must be at least 2 characters long
          </span>
          <span ng-if="!sign.itemFound && signupForm.favdish.$touched">
            No such menu number exists
          </span>
    <br>

    <button
      ng-disabled="signupForm.$invalid"
      ng-click="sign.submit()">Sign Up</button>

<!--       <div style="margin-top: 10px;">
        Form valid? {{ signupForm.$valid }} 
        </br>{{ signupForm.$error  }}
      </div> -->

  </form>
</fieldset>

    <div id="info" ng-if="sign.completed && sign.itemFound">
  <!--     Firstname: {{ sign.firstname}} <br>
      Lastname: {{ sign.lastname}} <br>
      Email: {{ sign.email}} <br>
      Phone: {{ sign.phone }} <br>
      Favourite Dish: {{ sign.favdish }} --  {{ sign.itemFound}} -->
      Your information has been saved
    </div>

</div>
